* {
    margin: 0;
}

body {
    font-family: inter, Arial, Helvetica, sans-serif;
    background-color: #FAFAF8;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
}

header > img {
    width: 50px;

}

header > h1 {
    font-size: 2rem;
    font-weight: 400;
    
}

main {
    padding: 30px 30px;
}

.add-ingredient-form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap : 12px;
    height: 38px;
    margin-bottom: 20px;
}

.add-ingredient-form > input {
    border-radius: 6px;
    border: 1px solid #D1D5D8;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 140px;
    max-width: 400px;
    outline: none;
    cursor:auto;
}

.add-ingredient-form > button {
    font-family: inter, arial;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color : #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.add-ingredient-form > button::before {
    content: "+";
    margin-right: 5px;
}

.state-Counter{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    
}